<div class="p-5 space-y-5 md:p-10">
  <h1 class="font-bold text-center text-2xl"><%= t('.title') %></h1> 
  <div class="flex space-x-2 justify-end">
    <%= link_to t('defaults.edit'), edit_admin_item_path(@item), class: 'btn btn-success' %>
    <%= button_to t('defaults.delete'), admin_item_path(@item), method: :delete, data: { turbo_confirm: t('defaults.message.delete_confirm') }, class: 'btn btn-error' %>
  </div>
  <table class="table">
    <tr>
      <th><%= Item.human_attribute_name(:id) %></th>
      <td><%= @item.id %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <td><%= @item.user.name %></td>
    </tr>
    <tr>
      <th><%= Item.human_attribute_name(:name) %></th>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <th><%= Item.human_attribute_name(:image) %></th>
      <td><%= image_tag @item.image.url %></td>
    </tr>
    <tr>
      <th><%= Category.human_attribute_name(:title) %></th>
      <td><%= @item.category.parent.title %>/<%= @item.category.title %></td>
    </tr>
    <tr>
      <th><%= Item.human_attribute_name(:color) %></th>
      <td><%= @item.color_i18n %></td>
    </tr>
    <tr>
      <th><%= Item.human_attribute_name(:listing_status) %></th>
      <td><%= @item.listing_status ? '出品中' : '未出品' %></td>
    </tr>
    <tr>
      <th><%= Item.human_attribute_name(:disposal_method) %></th>
      <td><%= @item.disposal_method_i18n %></td>
    </tr>
    <tr>
      <th><%= Notification.human_attribute_name(:notify_date) %></th>
      <td><%= @item.notification.notify_date %></td>
    </tr>
    <tr>
      <th><%= Item.human_attribute_name(:price) %></th>
      <td><%= number_to_currency(@item.price, unit: "¥", format: "%u %n") %></td>
    </tr>
    <tr>
      <th><%= Item.human_attribute_name(:created_at) %></th>
      <td><%= l @item.created_at, format: :long %></td>
    </tr>
  </table>
</div>
