<%= render "shared/modal" do %>
  <div>
    <%= form_with model: @decluttering, data: { action: "turbo:submit-end->modal#close", turbo_frame: "decluttering_amount" }, local: true do |f| %>
      <%= render 'shared/error_message', object: f.object %>
      <div class="form-control my-5">
        <%= f.label :goal_amount %>
        <%= f.text_field :goal_amount, inputmode: "numeric", class: "input input-bordered" %>
      </div>
      <div class="card-actions justify-end">
        <%= f.submit "設定する", class: "btn" %>
      </div>
    <% end %>
  </div>
<% end %>