<% content_for(:title, t('.title')) %>
<main class="my-auto md:m-auto bg-base-100">
  <div class="p-4 md:w-[700px] md:h-[850px] lg:p-6 lg:border lg:rounded-lg">
    <h2 class="text-center font-bold md:text-xl">目標設定</h2>
    <div class="text-center mt-6 md:mt-8 md:text-left">
      <%= link_to "アドバイスをみる", recommend_path, data: { turbo_frame: "modal" }, class: "btn btn-sm btn-secondary btn-outline md:btn-md" %>
      <%= link_to 'グラフをみる', chart_items_path, data: { "turbo" => false }, class: "btn btn-sm btn-secondary btn-outline md:btn-md" %>
    </div>
    <%= render @decluttering %>
      <div class="stats shadow bg-base-200 w-full">
        <div class="stat place-items-center">
          <div class="stat-title">先月の断捨離数</div>
          <div class="stat-value"><%= current_user.last_month_disposed_items %><span class="text-sm">個</span></div>
        </div>
      </div>

    <div class="flex justify-center mt-6 md:mt-10">
      <%= link_to "目標を設定する", edit_decluttering_path(current_user), data: { turbo_frame: "modal" }, class: "btn btn-secondary px-12 md:px-20" %>
    </div>
  </div>
</main>