<% content_for(:title, t('.title')) %>
<main class="md:my-auto">
  <div>
    <div class="p-5">
      <h2 class="mb-5 text-center font-bold md:text-xl">1週間のデータ</h2>
      <div class="flex justify-center">
        <div class="stats shadow md:w-1/2">
          <div class="stat place-items-center">
            <div class="stat-title">現在のアイテム数</div>
            <div class="stat-value"><%= @before_items %><span class="text-sm">個</span></div>
          </div>
          <div class="stat place-items-center">
            <div class="stat-title">先月の断捨離数</div>
            <div class="stat-value"><%= current_user.last_month_disposed_items %><span class="text-sm">個</span></div>
          </div>
        </div>
      </div>
      <div class="text-center mb-3">
        <%= link_to "アドバイスをみる", recommend_path, data: { turbo_frame: "modal" }, class: "btn btn-sm btn-secondary md:btn-wide" %>
      </div>
      <div data-controller="chart" class="relative h-[400px] md:h-[450px]">
        <canvas data-chart-target="canvas"></canvas>
      </div>
    </div>

    <div class="p-3 md:p-5">
      <h2 class="text-center font-bold md:text-xl mb-5">今月の達成度</h2>
      <%= render @decluttering %>
      <div class="flex justify-center items-center mt-3">
        <%= link_to "目標を設定する", edit_decluttering_path(current_user), data: { turbo_frame: "modal" }, class: "btn btn-secondary rounded-full md:btn-wide" %>
      </div>
    </div>
  </div>
</main>