<div class="w-full flex flex-col items-center px-2">
  <h1 class="text-3xl font-bold mt-10">ユーザー編集</h1>
  <%= form_with model: @user, local: true do |f| %>
    <%= render 'shared/error_message', object: f.object %>
    <div class="form-control">
      <%= f.label :avatar, class: "mb-2" %>
      <%= f.file_field :avatar, onchange: "previewFileWithId(preview)", accept: "image/*" %>
      <%= f.hidden_field :image_cache %>
    </div>
    <div class="mt-3 flex justify-center">
      <%= image_tag @user.avatar.url, id: "preview", class: "w-24 rounded-full" %>
    </div>
    <div class="form-control">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-control">
      <%= f.label :introduction %>
      <%= f.text_area :introduction %>
    </div>
    <div class="flex justify-end">
      <%= f.submit '更新', class: 'btn' %>
    </div>
  <% end %>
  <div class='text-center'>
    <%= link_to 'マイページへ', user_path(current_user) %>
  </div>
</div>