<% content_for(:title, t('.title')) %>
<main class="m-auto">
  <div class="md:w-[700px]">
    <%= form_with model: @user, local: true, class: "space-y-6" do |f| %>
      <%= render 'shared/error_message', object: f.object %>
      <div class="space-y-2">
        <%= f.label :avatar %>
        <div class="flex justify-center">
          <%= image_tag @user.avatar.url, id: "preview", class: "bg-base-100 w-24 rounded-full md:w-40" %>
        </div>
        <div class="text-center">
          <%= f.file_field :avatar, onchange: "previewFileWithId(preview)", accept: "image/*", class: "file-input file-input-bordered file-input-primary file-input-sm md:file-input-md" %>
          <%= f.hidden_field :avatar_cache %>
        </div>
      </div>
      <div class="form-control">
        <%= f.label :name, class: "mb-4" %>
        <%= f.text_field :name, class: "input input-bordered" %>
      </div>
      <div class="form-control">
        <%= f.label :introduction, class: "mb-4" %>
        <%= f.text_area :introduction, class: "textarea textarea-bordered" %>
      </div>
      <div class="flex justify-center">
        <%= f.submit class: 'btn btn-primary btn-wide' %>
      </div>
    <% end %>
    <div class='text-center mt-5'>
      <%= link_to 'マイページへ', user_path(current_user), class: "link" %>
    </div>
  </div>
</main>