<div class="container px-2 w-full max-w-3xl">
  <div>
    <div class="flex items-center justify-around">
      <div class="avatar">
        <div class="w-24 rounded-full">
          <%= image_tag @user.avatar.url %>
        </div>
      </div>
      <div>
        <p class="font-bold"><%= @user.name %></p>
      </div>
      <% if current_user == @user %>
        <%= link_to '編集', edit_user_path(@user), class: "btn btn-sm btn-accent btn-outline" %>
      <% end %>
    </div>
    <div>
    <%= turbo_frame_tag "decluttering_amount" do %>
      <div class="stats shadow w-full">
        <div class="stat place-items-center">
          <div class="stat-title">今月の目標</div>
          <div class="stat-value"><%= @goal_amount %><span class="text-sm">個</span></div>
        </div>
        <div class="stat place-items-center">
          <div class="stat-title">最新</div>
          <div class="stat-value"><%= @total_disposed_items %><span class="text-sm">個</span></div>
        </div>
        <div class="stat place-items-center">
          <div class="stat-title">目標との差</div>
          <div class="stat-value"><span class="text-sm">あと</span><%= @difference %><span class="text-sm">個</span></div>
        </div>
      </div>
    <% end %>
    <%= link_to "目標設定", new_decluttering_path, data: { turbo_frame: "modal" }, class: "btn btn-sm btn-accent btn-outline" %>
    </div>
    <div class="p-8 border-b-4">
      <p>自己紹介</p>
      <% if @user.introduction.present? %>
        <%= simple_format(@user.introduction) %>
      <% else %>
        <p class="text-center">自己紹介をかいてみよう!</p>
      <% end %>
    </div>
  </div>
  <!-- ユーザーの投稿内容 -->
  <div class="flex items-center justify-center md:flex flex-wrap">
    <% if @user_posts.present? %>
      <%= render partial: 'posts/post', collection: @user_posts %>
    <% else %>
      <p class="text-center"><%= @user.name %>さんの投稿はありません</p>
    <% end %>
  </div>
</div>