<% content_for(:title, t('.title')) %>
<main class="md:mx-auto">
  <div class="md:w-[700px]">
    <div class="m-5 md:mx-0">
      <div class="flex justify-end">
        <% if current_user == @user %>
          <%= link_to '編集', edit_user_path(@user), class: "btn btn-sm btn-secondary btn-outline" %>
        <% end %>
      </div>
      <div class="flex flex-col justify-center items-center pb-5 border-b-2 border-secondary">
        <div class="avatar mb-2">
          <div class="w-24 rounded-full border border-2 bg-base-100">
            <%= image_tag @user.avatar.url %>
          </div>
        </div>
        <div>
          <p class="font-bold text-center"><%= @user.name %></p>
          <p class="text-sm text-neutral-400 text-center">更新日: <%= @user.updated_at.strftime("%Y-%m-%d")%></p>
        </div>
      </div>
      <div class="p-5 border-b-2 border-secondary">
        <% if @user.introduction.present? %>
          <%= simple_format(h(@user.introduction), {}, sanitize: false) %>
        <% else %>
          <p class="text-center">自己紹介をかいてみよう!</p>
        <% end %>
      </div>
    </div>
    <!-- ユーザーの投稿内容 -->
    <div class="flex flex-wrap items-center justify-center">
      <% if @user_posts.present? %>
        <%= render partial: 'posts/post', collection: @user_posts %>
      <% else %>
        <p class="text-center"><%= @user.name %>さんの投稿はありません</p>
      <% end %>
    </div>
    <%= paginate @user_posts %>
  </div>
</main>