<%= render 'shared/error_message', object: f.object %>
  <div class="space-y-2">
    <%= f.label :image %>
    <div class="flex justify-center">
      <%= image_tag item.image.url, id: "preview", class: "w-[180px] md:w-[250px] lg:w-[300px]" %>
    </div>
    <div class="text-center">
      <%= f.file_field :image, onchange: "previewFileWithId('preview')", accept: "image/*", class: "file-input file-input-bordered file-input-primary file-input-sm md:file-input-md" %>
      <%= f.hidden_field :image_cache %>
    </div>
  </div>
  <div class="form-control">
    <%= f.label :name, class: "mb-2" do %>
      アイテム名<span class="text-xs text-error">*必須</span>
    <% end %>
    <%= f.text_field :name, placeholder: "必須(40文字まで)", class: "input input-bordered" %>
  </div>
  <%= yield %>
  <div>
    <span>カラー</span>
    <div class="flex items-center overflow-x-scroll h-[45px]">
      <%= f.collection_radio_buttons :color, Item.colors_i18n, :first, :last do |b| %>
        <div class="shrink-0">
          <%= b.radio_button %>
          <%= b.label(class: "custom-radio") %>
        </div>
      <% end %>
    </div>
  </div>
  <div>アイテムの状態<span class="text-xs text-error">*必須</span></div>
  <div class="flex justify-center">
    <div>
      <%= f.radio_button :listing_status, true %>
      <%= f.label :listing_status, "出品中", value: true, class: "custom-radio" %>
    </div>
    <div>
      <%= f.radio_button :listing_status, false %>
      <%= f.label :listing_status, "未出品", value: false, class: "custom-radio" %>
    </div>
  </div>
  <div class="flex justify-center">
    <%= f.collection_radio_buttons :disposal_method, Item.disposal_methods_i18n, :first, :last do |b| %>
      <div>
        <%= b.radio_button %>
        <%= b.label(class: "custom-radio") %>
      </div>
    <% end %>
  </div>
  <div class="form-control">
    <%= f.fields_for :notification do |n| %>
      <%= n.label :notify_date, Notification.human_attribute_name(:notify_date) do %>
        通知日<span class="text-xs text-error">*必須</span>
      <% end %>
      <%= n.date_field :notify_date, class: "p-2.5" %>
    <% end %>
  </div>
  <div class="form-control border-b">
    <%= f.label :price %>
    <%= f.text_field :price, inputmode: "numeric", placeholder: "¥1~9,999,999", class: "input appearance-none bg-transparent border-none focus:outline-none text-right" %>
  </div>
  
<div class="flex justify-center">
  <%= f.submit class: "btn btn-secondary px-12 md:px-20" %>
</div>