<%= form_with model: item, local: true do |f| %>
  <%= render 'shared/error_message', object: f.object %>
  <span>アイテム画像</span>
    <div class="flex justify-center">
      <%= f.label :image do %>
        <% if item.image.present? %>
          <%= image_tag item.image.url, id: "preview", class: "w-40" %>
        <% else %>
          <%= image_tag 'item_new.png', class: "w-40" %>
        <% end %>
          <%= f.file_field :image, onchange: "previewFileWithId(preview)", accept: "image/*", capture: "camera", class:"hidden" %>
          <%= f.hidden_field :image_cache %>
      <% end %>
    </div>
    <div class="form-control mb-6 border-b border-teal-500">
      <%= f.label :name, class: "mb-2" %>
      <%= f.text_field :name, class: "input appearance-none bg-transparent border-none focus:outline-none w-full" %>
    </div>
    <div class="mb-6">
      <%= f.label :category_id, Category.human_attribute_name(:title), class: "mb-2" %>
      <%= f.collection_select :category_id, category, :id, :title, { include_blank: "選択して下さい" }, { class: "select w-full max-w-xs" } %>
    </div>
    <div class="mb-6 flex justify-center">
      <div>
        <%= f.radio_button :listing_status, true %>
        <%= f.label :listing_status, "出品中", value: true, class: "custom-radio" %>
      </div>
      <div>
        <%= f.radio_button :listing_status, false %>
        <%= f.label :listing_status, "未出品", value: false, class: "custom-radio" %>
      </div>
    </div>
    <div class="form-control mb-6 border-b border-teal-500">
      <%= f.label :price, class: "mb-2" %>
      <%= f.text_field :price, class: "input appearance-none bg-transparent border-none focus:outline-none" %>
    </div>
    <div class="form-control mb-6">
      <%= f.fields_for :notification do |n| %>
        <%= n.label :notify_date, Notification.human_attribute_name(:notify_date), class: "mb-2" %>
        <%= n.date_field :notify_date%>
      <% end %>
    </div>
    <div class="mb-6 flex justify-center">
      <div>
        <%= f.radio_button :disposal_method, :before %>
        <%= f.label :disposal_method, "処分前", value: :before, class: "custom-radio" %>
      </div>
      <div>
        <%= f.radio_button :disposal_method, :sold %>
        <%= f.label :disposal_method, "売れた", value: :sold, class: "custom-radio" %>
      </div>
      <div>
        <%= f.radio_button :disposal_method, :discard %>
        <%= f.label :disposal_method, "捨てた", value: :discard, class: "custom-radio" %>
      </div>
    </div>
  <div class="flex justify-end">
    <%= f.submit class: "btn btn-primary px-10" %>
  </div>
<% end %>