<%= render 'shared/error_message', object: f.object %>
  <div class="space-y-2">
    <%= f.label :image %>
    <div class="flex justify-center">
      <%= image_tag item.image.url, id: "preview", class: "w-[140px] md:w-[250px] lg:w-[300px]" %>
    </div>
    <div class="text-center">
      <%= f.file_field :image, onchange: "previewFileWithId('preview')", accept: "image/*", class: "file-input file-input-bordered file-input-primary file-input-sm md:file-input-md" %>
      <%= f.hidden_field :image_cache %>
    </div>
  </div>

  <div class="form-control my-6 lg:my-8">
    <%= f.label :name, class: "mb-2" do %>
      アイテム名<span class="text-xs text-error">*必須</span>
    <% end %>
    <%= f.text_field :name, placeholder: "必須(40文字まで)", class: "input input-bordered" %>
  </div>

  <%= yield %>

  <%= render "radio_button", f: f %>

  <div class="my-6 lg:my-8 space-y-2">
    <p>出品状態<span class="text-xs text-error">*必須</span></p>
    <div class="flex justify-center join">
      <%= f.radio_button :listing_status, true, class: "hidden radio-custum" %>
      <%= f.label :listing_status, "出品中", value: true, class: "join-item btn btn-outline btn-secondary px-10 md:px-20" %>
  
      <%= f.radio_button :listing_status, false, class: "hidden radio-custum" %>
      <%= f.label :listing_status, "未出品", value: false, class: "join-item btn btn-outline btn-secondary px-10 md:px-20" %>
    </div>

    <p class="mb-2">処分方法<span class="text-xs text-error">*必須</span></p>
    <div class="flex justify-center join">
      <%= f.collection_radio_buttons :disposal_method, Item.disposal_methods_i18n, :first, :last do |b| %>
        <%= b.radio_button(class: "hidden radio-custum") %>
        <%= b.label(class: "join-item btn btn-outline btn-secondary px-5 md:px-[47px]") %>
      <% end %>
    </div>
  </div>

  <div class="form-control">
    <%= f.fields_for :notification do |n| %>
      <%= n.label :notify_date, Notification.human_attribute_name(:notify_date) do %>
        通知日<span class="text-xs text-error">*必須</span>
      <% end %>
      <%= n.date_field :notify_date, class: "p-2.5" %>
    <% end %>
  </div>
  
  <div class="form-control border-b my-6 lg:my-8">
    <%= f.label :price %>
    <%= f.text_field :price, inputmode: "numeric", placeholder: "¥1~9,999,999", class: "input appearance-none bg-transparent border-none focus:outline-none text-right" %>
  </div>
  
<div class="flex justify-center">
  <%= f.submit class: "btn btn-secondary px-12 md:px-20" %>
</div>