<tr>
  <td>
    <%= link_to "完了", edit_disposal_method_item_path(item), class: "btn", data: { turbo_frame: "modal" } %>
  </td>
  <td data-controller="link" data-link-target="toLink" data-action="click->link#toLink" data-href="<%= item_path(item) %>">
    <%= image_tag item.image.url, class: "avatar w-20 rounded" %>
  </td>
  <td data-controller="link" data-link-target="toLink" data-action="click->link#toLink" data-href="<%= item_path(item) %>">
    <h3><%= item.name %></h3>
  </td>
  <td>
    <%= render 'shared/crud_icon', object: item %>
  </td>
</tr>
  