<div class="py-2 bg-base-100 w-full md:w-3/4 border-b border-slate-300" data-controller="link" data-link-target="toLink" data-action="click->link#toLink" data-href="<%= item_path(item) %>" data-turbo = false>
  <div class="flex items-center w-full justify-between">
    <div class="flex items-center space-x-2">
      <div class="mask mask-squircle p-2 w-24 md:w-28">
        <%= image_tag item.image.url %>
      </div>
      <div>
        <div class="font-bold"><%= truncate(item.name, length: 15) %></div>
        <% if current_page?(history_items_path) %>
          <div class="md:flex md:space-x-5">
            <span class="badge badge-primary"><%= item.listing_status ? '出品中' : '未出品' %></span>
            <span class="badge badge-primary"><%= item.disposal_method_i18n %></span>
            <div>断捨離日: <%= item.disposed_at %></div>
          </div>
        <% else %>
          <div class="md:flex md:space-x-5">
            <% if item.price.present? %>
              <div><%= number_to_currency(item.price, unit: "¥", format: "%u %n") %></div>
            <% end %>
            <div>更新日: <%= item.updated_at.strftime("%Y-%m-%d") %></div>
            <div>通知日: <%= item.notification.notify_date %></div>
          </div>
        <% end %>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
    </svg>
  </div>
</div>
  