<tr class="bg-base-100">
  <td class="pr-0">
    <%= link_to item_path(item), class: "block py-2.5 px-4" do %>
      <div class="flex items-center space-x-5">
        <div class="avatar">
          <div class="mask mask-squircle w-12 h-12">
            <%= image_tag item.image.url %>
          </div>
        </div>
        <div>
          <div class="font-bold truncate w-56"><%= item.name %></div>
          <% if current_page?(history_items_path) %>
            <div>
              <span class="badge badge-info"><%= item.listing_status ? '出品中' : '未出品' %></span>
              <span class="badge badge-info"><%= item.disposal_method_i18n %></span>
              <div>断捨離日: <%= item.disposed_at %></div>
            </div>
          <% elsif current_page?(category_items_path(category)) %>
            <div>
              <% if item.price.present? %>
                <span><%= number_to_currency(item.price, unit: "¥", format: "%u %n") %></span>
              <% end %>
              <span>更新日: <%= item.updated_at.strftime("%Y-%m-%d") %></span>
              <span>通知日: <%= item.notification.notify_date %></span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </td>
  <% if current_page?(history_items_path) %>
    <td class="pl-0">
      <%= link_to '投稿する', new_post_path(item_id: item.id), class: "btn btn-outline btn-info btn-xs" %>
      <%= link_to "https://twitter.com/share?url=#{ request.url }&text=【断捨離アイテム】%0a%0a#{ item.name }%0a%0a【断捨離日】%0a%0a#{ item.disposed_at }", target: '_blank' do %>
        <%= image_tag "logo-black.png", class:"w-3" %>シェア
      <% end %>
    </td>
  <% end %>
</tr>
  