<%= turbo_frame_tag item do %>
  <div>
    <h3 class="font-bold text-lg text-center mb-6">アイテムの処分方法をえらぼう!</h3>
    <%= form_with model: item, data: { action: "turbo:submit-end->modal#close" }, local: true do |f| %>
      <div class="mb-6 flex justify-center">
        <div>
          <%= f.radio_button :disposal_method, :sold %>
          <%= f.label :disposal_method, "売れた", value: :sold, class: "custom-radio" %>
        </div>
        <div>
          <%= f.radio_button :disposal_method, :discard %>
          <%= f.label :disposal_method, "捨てた", value: :discard, class: "custom-radio" %>
        </div>
      </div>
      <div class="flex justify-end">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>