<div class="lg:flex lg:items-center">
  <p class="mb-2 lg:mb-0 lg:mr-5 lg:w-1/4">カラー</p>
  <div class="overflow-x-scroll space-x-2 flex hidden-scrollbar">
    <div class="btn rounded-full">
      <%= f.radio_button :color, :nothing, class: "radio checked:bg-primary" %>
      <%= f.label :color, "なし", value: "nothing" %>
    </div>
    <div class="btn rounded-full">
      <%= f.radio_button :color, :white, class: "radio checked:bg-slate-100" %>
      <%= f.label :color, "ホワイト", value: "white" %>
    </div>
    <div class="btn rounded-full">
      <%= f.radio_button :color, :black, class: "radio checked:bg-black" %>
      <%= f.label :color, "ブラック", value: "black" %>
    </div>
    <div class="btn rounded-full">
      <%= f.radio_button :color, :gray, class: "radio checked:bg-gray-500" %>
      <%= f.label :color, "グレー", value: "gray" %>
    </div>
    <div class="btn rounded-full">
      <%= f.radio_button :color, :brown, class: "radio checked:bg-amber-800" %>
      <%= f.label :color, "ブラウン", value: "brown" %>
    </div>
    <div class="btn rounded-full">
      <%= f.radio_button :color, :beige, class: "radio checked:bg-amber-600" %>
      <%= f.label :color, "ベージュ", value: "beige" %>
    </div>
    <div class="btn rounded-full">
      <%= f.radio_button :color, :green, class: "radio checked:bg-green-500" %>
      <%= f.label :color, "グリーン", value: "green" %>
    </div>
    <div class="btn rounded-full">
      <%= f.radio_button :color, :blue, class: "radio checked:bg-blue-500" %>
      <%= f.label :color, "ブルー", value: "blue" %>
    </div>
    <div class="btn rounded-full">
      <%= f.radio_button :color, :purple, class: "radio checked:bg-purple-500" %>
      <%= f.label :color, "パープル", value: "purple" %>
    </div>
    <div class="btn rounded-full">
      <%= f.radio_button :color, :yellow, class: "radio checked:bg-yellow-400" %>
      <%= f.label :color, "イエロー", value: "yellow" %>
    </div>
    <div class="btn rounded-full">
      <%= f.radio_button :color, :pink, class: "radio checked:bg-pink-500" %>
      <%= f.label :color, "ピンク", value: "pink" %>
    </div>
    <div class="btn rounded-full">
      <%= f.radio_button :color, :red, class: "radio checked:bg-red-500" %>
      <%= f.label :color, "レッド", value: "red" %>
    </div>
    <div class="btn rounded-full">
      <%= f.radio_button :color, :orange, class: "radio checked:bg-orange-500" %>
      <%= f.label :color, "オレンジ", value: "orange" %>
    </div>
    <div class="btn rounded-full">
      <%= f.radio_button :color, :gold, class: "radio checked:bg-yellow-500" %>
      <%= f.label :color, "ゴールド", value: "gold" %>
    </div>
    <div class="btn rounded-full">
      <%= f.radio_button :color, :silver, class: "radio checked:bg-zinc-400" %>
      <%= f.label :color, "シルバー", value: "silver" %>
    </div>
  </div>
</div>