<details class="border-b ">
    <summary class="btn btn-ghost flex justify-center md:mx-auto md:w-[700px]">
      検索フォームをひらく
    </summary>
    <div class="p-2" data-controller="autocomplete" data-autocomplete-url-value=<%= set_value %> role="combobox">
      <%= search_form_for @q, url: url, class: "space-y-4" do |f| %>
        <div class="flex flex-col items-center">
          <%= f.search_field :name_cont, data: { autocomplete_target: 'input'}, class: "input input-bordered md:w-96", placeholder: "キーワード検索" %>
          <%= f.hidden_field :name, data: { autocomplete_target: 'hidden' } %>
          <div class="flex justify-center">
            <ul class="list-group bg-white absolute md:text-sm max-w-max" data-autocomplete-target="results"></ul>
          </div>
        </div>

        <div>
          <label class="label flex justify-center"><span class="label-text">通知日で検索</span></label>
          <div class="flex justify-center items-center">
            <%= f.date_field :notification_notify_date_gteq, class: "p-2.5 border" %>
              <span>~</span>
            <%= f.date_field :notification_notify_date_lteq_end_of_day, class: "p-2.5 border" %>
          </div>
        </div>
      
        <% if current_page?(history_items_path) %>
          <div class="flex items-center justify-center flex-wrap">
            <div class="m-1"><%= f.select :listing_status_eq, [['出品中', true], ['未出品', false]], { include_blank: '出品状態で検索' }, class: "select select-bordered" %></div>
            <div class="m-1"><%= f.select :disposal_method_eq, Item.disposal_methods_i18n.except(:before).invert.map { |key, value| [key, Item.disposal_methods[value]] }, { include_blank: "処分方法で検索" }, class: "select select-bordered" %></div>
            <div class="m-1"><%= f.select :category_id_eq, grouped_options_for_select(@categories_collection), { include_blank: 'カテゴリーで検索' }, class: "select select-bordered" %></div>
          </div>
        <% end %>
        <div class="flex justify-center">
          <%= f.submit "検索する", class: "btn btn-info px-10" %>
        </div>
      <% end %>
    </div>
  </details>