<% content_for(:title, t('.title')) %>
<main class="md:mx-auto">
  <div class="flex overflow-x-scroll space-x-2 p-2">
    <%= link_to "ALL", categories_path, class: "btn btn-sm md:btn-md rounded-full" %>
    <%= render partial: "categories/category", collection: @categories %>
  </div>
  <%= render 'search_form', url: category_items_path(@category), set_value: search_items_path(view: 'index') %>
  <%= turbo_frame_tag "items_list" do %>
    <div>
      <div role="tablist" class="tabs tabs-boxed justify-around bg-base-100">
        <%= sort_link(@q, :name, '名前順', default_order: :desc, class: "tab", role: "tab") %>
        <%= sort_link(@q, :updated_at, '新着順', default_order: :desc, class: "tab", role: "tab") %>
        <%= sort_link(@q, :created_at, '作成日順', { class: "tab", role: "tab"}) %>
        <%= sort_link(@q, :notification_notify_date, '通知日順', default_order: :desc, class: "tab", role: "tab") %>
      </div>
      <h2 class="text-center font-bold border-b-2 border-primary py-2 mb-2"><%= @category.title %></h2>
      <div data-controller="tab">
        <div class="tabs tabs-boxed bg-base-100">
          <a class="tab w-1/2 tab-active" data-tab-target="status" data-action="click->tab#status">出品中</a> 
          <a class="tab w-1/2 not-active" data-tab-target="status" data-action="click->tab#status">未出品</a> 
        </div>
        <div class="mt-4" data-tab-target="content">
          <div class="flex flex-wrap items-center justify-center">
            <% if @listed_items.present? %>
              <%= render partial: 'item', collection: @listed_items, locals: { category: @category } %>
            <% end %>
          </div>
        </div>
        <div class="hidden mt-4" data-tab-target="content">
          <div class="flex flex-wrap items-center justify-center">
            <% if @unlisted_items.present? %>
              <%= render partial: 'item', collection: @unlisted_items, locals: { category: @category } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</main>
