<div class="overflow-x-auto px-8">
  <table class="table h-screen">
    <tbody>
      <tr>
        <th><%= Item.human_attribute_name(:image) %></th>
        <td><%= image_tag @item.image.url, class: "w-40" %></td>
      </tr>
      <tr>
        <th><%= Item.human_attribute_name(:name) %></th>
        <td><%= @item.name %></td>
      </tr>
      <tr>
        <th><%= Category.human_attribute_name(:title) %></th>
        <td><%= @item.category.title %></td>
      </tr>
      <tr>
        <th><%= Item.human_attribute_name(:listing_status) %></th>
        <td><%= @item.listing_status ? '出品中' : '未出品' %></td>
      </tr>
      <tr>
        <th><%= Item.human_attribute_name(:price) %></th>
        <td><%= @item.price %></td>
      </tr>
      <tr>
        <th><%= Notification.human_attribute_name(:notify_date) %></th>
        <td><%= @item.notification.notify_date %></td>
      </tr>
    </tbody>
  </table>
</div>
