<div class="card w-[320px] bg-base-100 shadow-xl m-2 ranks">
  <div class="border-b flex items-center p-2">
    <div class="avatar mr-2">
      <div class="w-12 rounded-full border border-2">
        <%= image_tag before_login_post.user.avatar.url %>
      </div>
    </div>
    <div>
      <p class="font-bold"><%= before_login_post.user.name %></p>
    </div> 
  </div>
  <div class="card-body pb-0 pt-2">
    <h2 class="card-title truncate w-64"><%= before_login_post.item.name %></h2>
    <p class="truncate w-64"><%= before_login_post.content %></p>
  </div>
  <div class="flex justify-center">
    <% if before_login_post.item.image.present? %>
      <div><%= image_tag before_login_post.item.image.url %></div>
    <% end %>
    <% if before_login_post.post_image.present? %>
      <div><%= image_tag before_login_post.post_image.url %></div>
    <% end %>
  </div>
  
  <div class="flex items-center justify-around h-[50px]">
    <p class="text-sm text-neutral-400">更新日: <%= before_login_post.updated_at.strftime("%Y-%m-%d") %></p>
  </div>
</div>