<%= form_with model: post, local: true, class: "space-y-10 md:space-y-12" do |f| %>
  <%= render 'shared/error_message', object: f.object %>
    <div class="form-control">
      <%= f.label :item_id, "投稿するアイテム", class: "mb-2" %>
      <%= f.collection_select :item_id, disposal_item, :id, :name, { include_blank: "選択して下さい" }, { class: "select select-bordered" } %>
    </div>
    <div class="flex justify-center">
      <%= f.label :post_image do %>
        <%= image_tag post.post_image.url, id: "preview", class: "w-[250px] md:w-80" %>
        <%= f.file_field :post_image, onchange: "previewFileWithId('preview')", accept: "image/*", class: "hidden" %>
        <%= f.hidden_field :post_image_cache %>
      <% end %>
    </div>
    <div class="form-control">
      <%= f.label :content, class: "mb-2" %>
      <%= f.text_area :content, placeholder: "1,000文字まで", class: "textarea textarea-bordered" %>
    </div>
  <div class="flex justify-center">
    <%= f.submit class: "btn btn-secondary px-12 md:px-20" %>
  </div>
<% end %>