<div data-controller="select">
  <%= form_with model: post, local: true do |f| %>
    <%= render 'shared/error_message', object: f.object %>
    <div class="space-y-5">
      <p class="mb-5 md:mr-8">投稿するアイテム</p>
      <%= turbo_frame_tag "modal_result" do %>
        <div class="flex justify-center">
          <%= button_tag 'アイテムを選択してください', type: 'button', class: 'select select-bordered items-center md:w-[350px]', onclick: 'modal_select.showModal()', data: { "select-target": "link" } %>
          <%= f.collection_select :item_id, disposal_item, :id, :name, { include_blank: "アイテムを選択してください" }, { class: "hidden", data: { "select-target": "hiddenSelect" } } %>
        </div>
      <% end %>
      <div class="space-y-3 md:flex md:space-x-8 md:items-center">
        <%= f.label :post_image %>
        <div class="flex justify-center">
          <%= image_tag post.post_image.url, id: "preview", class: "w-[180px] md:w-[250px]" %>
        </div>
        <div class="text-center">
          <%= f.file_field :post_image, onchange: "previewFileWithId('preview')", accept: "image/*", class: "file-input file-input-bordered file-input-primary file-input-sm md:file-input-md" %>
          <%= f.hidden_field :post_image_cache %>
        </div>
      </div>
      <div class="md:flex md:items-center">
        <%= f.label :content, class: "md:mr-8" %>
        <div class="form-control md:w-3/4">
          <%= f.text_area :content, placeholder: "1,000文字まで", class: "textarea textarea-bordered mt-3 " %>
        </div>
      </div>
      <div class="flex justify-center">
        <%= f.submit t('defaults.post'), class: "btn btn-primary btn-wide" %>
      </div>
    </div>
  <% end %>

  <dialog id="modal_select" class="modal" data-select-target="modal">
    <div class="modal-box">
      <div class="overflow-y-scroll h-[430px]">
        <%= collection_radio_buttons(:post, :item_id, disposal_item, :id, :name_with_image) do |b| %>
          <div class="hover:bg-base-200 p-1">
            <%= b.radio_button(class: "hidden") %>
            <%= b.label(class: "flex items-center") %>
          </div>
        <% end %>
      </div>
      <div class="flex justify-center">
        <%= button_tag '決定', type: 'button', class: 'btn btn-wide btn-primary', data: { action: "click->select#closeModal", turbo_frame: "modal_result" } %>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
</div>