<div class="card w-[340px] md:w-full lg:w-[650px] m-2">
  <% unless current_page?(user_path(post.user)) %>
    <div class="border-b flex items-center p-3" data-controller="link" data-link-target="toLink" data-action="click->link#toLink" data-href="<%= user_path(post.user) %>" data-turbo = false>
      <div class="avatar mr-2">
        <div class="w-12 rounded-full border border-2">
          <%= image_tag post.user.avatar.url %>
        </div>
      </div>
      <div>
        <p class="font-bold"><%= post.user.name %></p>
      </div> 
    </div>
  <% end %>

  <div class="md:flex md:justify-around">
    <figure class="mt-6 md:mt-0">
      <div class="w-[210px]" data-controller="link" data-link-target="toLink" data-action="click->link#toLink" data-href="<%= post_path(post) %>" data-turbo = false>
        <%= image_tag post.item.image.url %>
      </div>
    </figure>

    <div class="md:flex md:flex-col md:w-3/4">
      <div class="card-body pb-0" data-controller="link" data-link-target="toLink" data-action="click->link#toLink" data-href="<%= post_path(post) %>" data-turbo = false>
        <h2 class="card-title"><%= truncate(post.item.name, length: 15) %></h2>
        <table class="table md:flex-grow">
          <tr>
            <th><%= Category.human_attribute_name(:title) %></th>
            <td><%= post.item.category.parent.title %> / <%= post.item.category.title %></p>
          </tr>
          <tr>
            <th><%= Item.human_attribute_name(:listing_status) %></th>
            <td><%= post.item.listing_status ? '出品中' : '未出品' %></td>
          </tr>
          <tr>
            <th><%= Item.human_attribute_name(:disposal_method) %></th>
            <td><%= post.item.disposal_method_i18n %></td>
          </tr>
        </table>
      </div>

      <div class="flex items-center justify-end h-[50px]">
        <p class="text-sm text-neutral-400 flex mr-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          <%= post.updated_at.strftime("%Y-%m-%d") %>
        </p>
        <% if logged_in? && current_user&.own?(post) %>
          <%= link_to "https://twitter.com/share?url=#{ request.url }&text=【投稿したアイテム】%0a%0a#{ post.item.name }%0a%0a【断捨離日】%0a%0a#{ post.item.disposed_at }", target: '_blank', class: "btn btn-sm", data: { "turbo" => false } do %>
            <%= image_tag "logo-black.png", class: "w-3" %>シェア
          <% end %>
        <% else %>
          <%= render "posts/like_button", post: post %>
        <% end %>
      </div>
    </div>
  </div>
</div>