<div class="card shadow-md w-[340px] md:w-full lg:w-[650px] bg-base-100 m-2">
  <div class="md:flex">
    <!-- タブレット以上のレイアウト(画像位置) -->
    <figure>
      <div class="hidden md:block" data-controller="link" data-link-target="toLink" data-action="click->link#toLink" data-href="<%= post_path(post) %>">
        <%= image_tag post.item.image.url %>
      </div>
    </figure>
    <div class="md:w-3/4 md:flex md:flex-col">
      <% unless current_page?(user_path(post.user)) %>
        <div class="border-b flex items-center p-3" data-controller="link" data-link-target="toLink" data-action="click->link#toLink" data-href="<%= user_path(post.user) %>">
          <div class="avatar mr-2">
            <div class="w-12 rounded-full border border-2">
              <%= image_tag post.user.avatar.url %>
            </div>
          </div>
          <div>
            <p class="font-bold"><%= post.user.name %></p>
          </div> 
        </div>
      <% end %>

      <!-- スマホのレイアウト(画像位置) -->
      <figure class="mt-6 md:mt-0">
        <div class="w-[240px] md:hidden" data-controller="link" data-link-target="toLink" data-action="click->link#toLink" data-href="<%= post_path(post) %>">
          <%= image_tag post.item.image.url %>
        </div>
      </figure>

      <div class="card-body md:flex-grow" data-controller="link" data-link-target="toLink" data-action="click->link#toLink" data-href="<%= post_path(post) %>">
        <h2 class="card-title"><%= truncate(post.item.name, length: 15) %></h2>
        <p><%= truncate(post.content, length: 20) %></p>
      </div>
    
      <div class="flex items-center justify-around border-t h-[50px]">
        <p class="text-sm text-neutral-400">更新日: <%= post.updated_at.strftime("%Y-%m-%d") %></p>
        <% if current_user.own?(post) %>
          <%= link_to "https://twitter.com/share?url=#{ request.url }&text=【投稿したアイテム】%0a%0a#{ post.item.name }%0a%0a【断捨離日】%0a%0a#{ post.item.disposed_at }", target: '_blank', class: "btn btn-sm" do %>
            <%= image_tag "logo-black.png", class: "w-3" %>シェア
          <% end %>
          <details class="dropdown dropdown-top dropdown-end">
            <summary class="btn btn-square btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
            </summary>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li><%= link_to "投稿を編集", edit_post_path(post) %></li>
              <li><%= button_to "投稿を削除", post, method: :delete, data: { turbo_confirm: "本当に削除しますか？" } %></li>
            </ul>
          </details>
        <% else %>
          <%= render "posts/like_button", post: post %>
        <% end %>
      </div>
    </div>
  </div>
</div>