<details>
  <summary class="btn btn-ghost flex justify-center md:mx-auto md:w-[700px]">
    検索条件
  </summary>
  <%= search_form_for @q, url: url, class: "space-y-4" do |f| %>
    <div class="flex flex-col items-center">
      <%= f.search_field :content_or_item_name_cont, class: "input input-bordered md:w-96", placeholder: "キーワード検索" %>
    </div>
  
    <div class="flex items-center justify-center flex-wrap">
      <div class="m-1"><%= f.select :item_listing_status_eq, [['出品中', true], ['未出品', false]], { include_blank: '出品状態で検索' }, class: "select select-bordered" %></div>
      <div class="m-1"><%= f.select :item_disposal_method_eq, Item.disposal_methods_i18n.except(:before).invert.map { |key, value| [key, Item.disposal_methods[value]] }, { include_blank: "処分方法で検索" }, class: "select select-bordered" %></div>
      <div class="m-1"><%= f.select :item_category_id_eq, grouped_options_for_select(@categories_collection), { include_blank: 'カテゴリーで検索' }, class: "select select-bordered" %></div>
    </div>

    <div class="flex justify-center">
      <%= f.submit "検索する", class: "btn btn-secondary px-12 md:px-20" %>
    </div>
  <% end %>
</details>