<% content_for(:title, t('.title')) %>
<main class="lg:flex-grow lg:flex lg:bg-slate-50">
  <%= render 'search_form', url: posts_path %>
  <%= turbo_frame_tag "posts_list", class: "lg:w-full lg:my-8 lg:mx-2 lg:p-2 lg:bg-base-100 lg:rounded-md" do %>
    <div role="tablist" class="tabs tabs-boxed justify-around bg-base-100">
      <%= sort_link(@q, :likes_count, 'いいね順', default_order: :desc, class: "tab", role: "tab") %>
      <%= sort_link(@q, :updated_at, '新着順', default_order: :desc, class: "tab", role: "tab") %>
      <%= sort_link(@q, :created_at, '作成日順', default_order: :asc, class: "tab", role: "tab") %>
    </div>
  
    <div class="flex flex-wrap items-center justify-center px-5 lg:px-0">
      <% if @posts.present? %>
        <%= render @posts %>
      <% else %>
        <p class="text-center">投稿はありません</p>
      <% end %>
    </div>
    <%= paginate @posts %>
  <% end %>
</main>

