<% content_for(:title, t('.title')) %>
<% if logged_in? %>
  <main>
    <%= render 'search_form', url: posts_path %>
    <div role="tablist" class="tabs tabs-boxed justify-around bg-neutral">
      <%= sort_link(@q, :likes_count, 'いいね順', default_order: :desc, class: "tab", role: "tab") %>
      <%= sort_link(@q, :updated_at, '新着順', default_order: :desc, class: "tab", role: "tab") %>
      <%= sort_link(@q, :created_at, '作成日順', default_order: :asc, class: "tab", role: "tab") %>
    </div>
  
    <div class="flex flex-wrap items-center justify-center px-5 md:px-10">
      <% if @posts.present? %>
        <%= render @posts %>
      <% else %>
        <p class="text-center">投稿はありません</p>
      <% end %>
    </div>
    <%= paginate @posts %>
  </main>
<% else %>
  <main class="p-5">
    <h1 class="text-center font-bold text-xl">今日のランキングTOP10</h1>
    <div class="flex flex-col items-center justify-center">
      <% if @before_login_posts.present? %>
        <%= render partial: "before_login_post", collection: @before_login_posts %>
      <% else %>
        <p class="text-center">投稿はありません</p>
      <% end %>
    </div>
  </main>
<% end %>

