<div class="navbar bg-base-100 border-b">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li class="menu-title"><%= current_user.name %></li>
        <li><%= link_to 'ユーザー管理', admin_users_path %></li>
        <li><%= link_to '投稿管理', admin_posts_path %></li>
        <li><%= link_to 'アイテム管理', admin_items_path %></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">管理者画面</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to 'ユーザー管理', admin_users_path %></li>
      <li><%= link_to '投稿管理', admin_posts_path %></li>
      <li><%= link_to 'アイテム管理', admin_items_path %></li>
    </ul>
  </div>
  <div class="navbar-end">
    <%= button_to 'ログアウト', admin_logout_path, method: :delete, class: "btn" %>
  </div>
</div>