<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <title>SortUnwantedItems</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="drawer drawer-end flex flex-col min-h-screen">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <% if logged_in? %>
          <%= render 'shared/header' %>
        <% else %>
          <%= render 'shared/before_login_header' %>
        <% end %>

        <div class="flex-grow">
          <%= turbo_frame_tag "modal" %>
          <%= yield %>
        </div>
      </div>
      <%= render 'shared/bottom_nav' unless current_page?(root_path) %>
      <%= render 'shared/sidebar' %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
