<!DOCTYPE html>
<html data-theme="lemonade">
  <head>
    <title>SortUnwantedItems</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= Gon::Base.render_data %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="drawer drawer-end flex flex-col min-h-screen">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <header class="drawer-content">
        <% if logged_in? %>
          <%= render 'shared/header' %>
        <% else %>
          <%= render 'shared/before_login_header' %>
        <% end %>
      </header>

      <%= turbo_frame_tag "modal" %>
      <%= render 'shared/flash_message' %>
      <main class="grow bg-base-200">
        <%= yield %>
      </main>
      
      <% if current_page?(root_path) || current_page?(login_path) %>
        <%= render 'shared/footer' %>
      <% else %>
        <div class="h-16 bg-base-200"></div>
        <%= render 'shared/bottom_nav' %>
      <% end %>

      <%= render 'shared/sidebar' %>
    </div>
  </body>
</html>
