<!DOCTYPE html>
<html data-theme="mytheme">
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@blog10946927952" /> 
    <meta property="og:url" content="<% request.url %>" />
    <meta property="og:title" content="断捨離アプリ「steteco」" />
    <meta property="og:description" content="売れると思うと捨てられない...そんな悩みを解決するアプリです。フリマアプリ利用者で優柔不断な方におすすめです!" />
    <meta property="og:image" content="<%= image_url('steteco.png') %>" />
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    
    <%= Gon::Base.render_data %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="drawer drawer-end flex flex-col min-h-screen bg-neutral">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <header class="drawer-content">
        <% if logged_in? %>
          <%= render 'shared/header' %>
        <% else %>
          <%= render 'shared/before_login_header' %>
        <% end %>
      </header>

      <%= turbo_frame_tag "modal" %>
      <div id="flash">
        <%= render 'shared/flash_message' %>
      </div>
      <%= yield %>
      
      <% if current_page?(root_path) || current_page?(login_path) %>
        <%= render 'shared/footer' %>
      <% else %>
        <% if logged_in? %>
          <div class="h-16"></div>
          <%= render 'shared/bottom_nav' %>
        <% end %>
      <% end %>

      <%= render 'shared/sidebar' %>
    </div>
  </body>
</html>
